# This notebook contains the exploratory data analyisis

### The first step is to connect to wandb and access the latest sample.csv

In [ ]:
 import wandb
 import pandas as pd

 run = wandb.init(project="nyc_airbnb", group="eda", save_code=True)
 local_path = wandb.use_artifact("sample.csv:latest").file()
 df = pd.read_csv(local_path)

### A quick summary of the data

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20000 non-null  int64
 1   name                            19993 non-null  object
 2   host_id                         20000 non-null  int64
 3   host_name                       19992 non-null  object
 4   neighbourhood_group             20000 non-null  object
 5   neighbourhood                   20000 non-null  object
 6   latitude                        20000 non-null  float64
 7   longitude                       20000 non-null  float64
 8   room_type                       20000 non-null  object
 9   price                           20000 non-null  int64
 10  minimum_nights                  20000 non-null  int64
 11  number_of_reviews               20000 non-null  int64
 12  last_review                     15877 non-null  object
 13  reviews_per_month               15877 non-null  float64
 14  calculated_host_listings_count  20000 non-null  int64
 15  availability_365                20000 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.4+ MB

### Create a summary of the data in order to see any problems

#### It was found that there were 
1. Longitude and latitude columns has outliers to be removed
2. Missing values in last_review and reviews_per_month columns
3. The format of the "last_review" column was problematic and must be converted from string to the date and time format

In [13]:
import pandas_profiling

profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

Summarize dataset: 100%|██████████| 131/131 [00:12<00:00, 10.50it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.98s/it]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

### Drop outliers

In [3]:
min_price = 10
max_price = 350
idx = df['price'].between(min_price, max_price)
df = df[idx].copy()

### Convert last_review to datetime

In [4]:
df['last_review'] = pd.to_datetime(df['last_review'])

### Another summary to ensure that problems were fixed

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19001 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19001 non-null  int64
 1   name                            18994 non-null  object
 2   host_id                         19001 non-null  int64
 3   host_name                       18993 non-null  object
 4   neighbourhood_group             19001 non-null  object
 5   neighbourhood                   19001 non-null  object
 6   latitude                        19001 non-null  float64
 7   longitude                       19001 non-null  float64
 8   room_type                       19001 non-null  object
 9   price                           19001 non-null  int64
 10  minimum_nights                  19001 non-null  int64
 11  number_of_reviews               19001 non-null  int64
 12  last_review                     15243 non-null  datetime64[ns]
 13  reviews_per_month               15243 non-null  float64
 14  calculated_host_listings_count  19001 non-null  int64
 15  availability_365                19001 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 2.5+ MB

### Testing the assertion test and command before implementing into the pipeline

In [16]:
assert df['price'].between(min_price, max_price).all()

#### The run is completed and uodated on weights and biasis

In [17]:
run.finish()